html {
    overflow-x: hidden;
    overflow-y: auto
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none
}

@font-face {
    font-family: 'roboto_bold';
    src: url("../font/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium';
    src: url("../font/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light';
    src: url("../font/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.f-roboto-light {
    font-family: 'roboto_light';
}

.f-roboto-medium {
    font-family: 'roboto_medium';
}

.f-roboto-bold {
    font-family: 'roboto_bold';
}

.container {
    display: block;
    margin: 0 auto;
    width: 1180px;
    max-width: calc(100% - 16px * 2)
}

@media (max-width: 700px) {
    .container {
        width: 768px;
        max-width: 768px
    }
}

@media (orientation: portrait) {
    .container {
        width: 768px;
        max-width: 768px
    }
}

.clearfix:after {
    content: "";
    clear: both;
    display: table
}

.section {
    position: relative;
    display: block;
    width: 100%
}

.section__background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px
}

.section__background img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.section__content {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px
}

.btn {
    text-indent: -9999px;
    display: block
}

.btn:hover {
    filter: brightness(1.2)
}

.desktop {
    display: block
}

.mobile {
    display: none
}

@media (max-width: 700px) {
    .desktop {
        display: none
    }
    .mobile {
        display: block
    }
}

@media (min-width: 701px) and (max-width: 840px) {
    .desktop {
        display: none
    }
    .mobile {
        display: block
    }
}

@media (orientation: portrait) {
    .desktop {
        display: none
    }
    .mobile {
        display: block
    }
}

.button-img .label {
    display: none
}

body {
    background: #0d111a
}

body.body-article {
    background: transparent
}

* {
    image-rendering: -webkit-optimize-contrast
}

.wrapper {
    width: 2000px;
    transform-origin: top left;
    overflow: hidden
}

@media (orientation: portrait) {
    .wrapper {
        width: 768px
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 768px
    }
}

.wrapper.popup-opened {
    height: calc(100vh - 70px)
}

.section {
    width: 1920px
}

@media (orientation: portrait) {
    .section {
        width: 768px
    }
}

@media (max-width: 700px) {
    .section {
        width: 768px
    }
}

.section__background .background {
    width: 100%;
    height: 100%
}

.section--frame1 {
    height: 1081px
}

@media (orientation: portrait) {
    .section--frame1 {
        height: 1365px
    }
}

@media (max-width: 700px) {
    .section--frame1 {
        height: 1365px
    }
}

.section--footer {
    height: 240px;
    background: #1b1919
}

.section--footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

@media (orientation: portrait) {
    .section--footer {
        height: 325px
    }
}

@media (max-width: 700px) {
    .section--footer {
        height: 325px
    }
}

@media (max-width: 700px) {
    .section--autoheight {
        height: auto;
        height: 2919px
    }
    .section--autoheight .section__background {
        position: absolute;
        top: 0;
        left: 0
    }
    .section--autoheight .section__background img {
        object-position: top center
    }
    .section--autoheight .section__content {
        position: relative;
        padding: 100px 0 140px;
        position: absolute;
        padding: 0
    }
}

@media (orientation: portrait) {
    .section--autoheight {
        height: auto;
        height: 2919px
    }
    .section--autoheight .section__background {
        position: absolute;
        top: 0;
        left: 0
    }
    .section--autoheight .section__background img {
        object-position: top center
    }
    .section--autoheight .section__content {
        position: relative;
        padding: 100px 0 140px;
        position: absolute;
        padding: 0
    }
}

.frame1 .btn-logo {
    background: url("../images/logo.png");
    width: 179px;
    height: 202px;
    position: absolute;
    top: 35px;
    left: 47%
}

@media (max-width: 700px) {
    .frame1 .btn-logo {
        top: 50px;
        left: 0;
        right: unset;
        transform: scale(0.7);
        transform-origin: top
    }
}

@media (orientation: portrait) {
    .frame1 .btn-logo {
        top: 50px;
        left: 0;
        right: unset;
        transform: scale(0.7);
        transform-origin: top
    }
}

/*----------------------------FOOTER---------------------------------*/

#footer {
    background: #02495f;
}

#footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    ;
}

.bluedream-logo {
    margin: 0 auto;
    width: 40%;
}

.bluedream-logo img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.footer-text {
    padding: 15px;
    color: #ffffff;
    line-height: 20px;
}

.footer-text a {
    color: #ffffff;
    text-decoration: none;
}

.footer-text a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
    .footer-text {
        line-height: 24px;
    }
    #footer-content {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: center;
        align-items: center;
        width: 73%;
        margin: 0 auto;
    }
}